.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items at the top */
    height: 100vh; /* Optional: Use full height of viewport */
    background-color: #f0f0f0; /* Optional: Background color */
}

.home-heading {
    margin-top: 20px; /* Space from the top */
    font-size: 2rem; /* Font size for the heading */
    text-align: center; /* Center the text */
    color: #333; /* Text color */
}


.home-avatar {
    margin-bottom: 20px;
    cursor: pointer;
}

.avatar-img {
    margin-top: 100%;  
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #333;
}

.home-container .login-btn {
    padding: 10px 20px;  /* Adjust padding as desired */
    font-size: 1.2rem;   /* Font size */
    width: 120px; 
    height: 40px;       /* Set a fixed width for the button */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-container .login-btn:hover {
    background-color: #0056b3;
}



